page-module-thematical-association {
  $toolbar-height: 10vh;
  ion-toolbar {
    height: $toolbar-height;
    margin-bottom: 5px;
  }
  #game {
    ion-col {
      text-align: center;
      width: auto;
      padding: 3vh;
      height: 32vh;
      @media screen and (orientation: portrait) {
        height: 26.3vh;
      }
      img {
        text-align: center;
        padding: 2vh;
        width: auto;
        height: 100%;
        box-shadow: 0px 1px 2px black;
      }
    }
  }
}
