<ion-header>

  <ion-navbar color="primary">
    <ion-title>
      {{ 'MODULES.NAMES.THEMATICALASSOCIATION' | translate }}
    </ion-title>
    <ion-buttons start>
      <button ion-button (tap)="exit()">
        <span ion-text showWhen="ios">{{ 'VERBS.CLOSE' | translate }}</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-toolbar padding>
    <ion-grid no-padding>
      <ion-row align-items-center>
        <ion-col col-10 col-md-11>
          <h2>{{ 'MODULES.TRANSLATE.THEMATICALASSOCIATION.THEMES.' + theme | translate }}</h2>
        </ion-col>
        <ion-col col-2 col-md-1>
          <img id="smiley" src="./assets/modules/thematicalassociation/imgs/happy/1.png" width="42" height="42">
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>

  <ion-grid id="game" no-padding>
    <ion-row>
      <ion-col *ngFor="let thematicalObject of selectedImages" col-6 col-sm-4 col-md-6 col-lg-4>
        <div *ngIf="thematicalObject.name === ''"></div>
        <img *ngIf="thematicalObject.name !== ''" src="{{ thematicalObject.picture }}" class="picture" (click)="selectImage(thematicalObject, $event.currentTarget)" @bounce width="42" height="42">
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>