sidenav-main {
  #menuTopPanel {
    width: 100%;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #28778d;
    @media screen and (orientation: portrait) {
      height: 25%;
    }
    @media screen and (orientation: landscape) {
      height: 42%;
    }
    @media screen and (min-width: 600px) {
      @media screen and (orientation: portrait) {
        height: 15%;
      }
      @media screen and (orientation: landscape) {
        height: 30%;
      }
    }
    .photoDiv {
      display: -webkit-flex;
      -webkit-align-items: center;
      -webkit-justify-content: center;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 999px;
      border: 3px solid white;
      overflow: hidden;
      width: 32%;
      height: auto;
      background-color: #6b9697;
      img {
        display: block;
        width: 100%;
        padding: 12%;
      }
    }
  }
}
