<ion-header>
    <ion-navbar [hideBackButton]="isSelection" color="primary">
        <ion-title>
            Robots
        </ion-title>

        <ion-buttons start *ngIf="isSelection" @easeInOut>
            <button ion-button (tap)="cancelSelection()">
                Cancel
            </button>
        </ion-buttons>
        <ion-buttons end *ngIf="!isSelection" @easeInOut>
            <button ion-button icon-only (tap)="showSearchBar = !showSearchBar; content.resize()">
                <ion-icon name="search"></ion-icon>
            </button>
            <button ion-button icon-only (tap)="addRobot()">
                <ion-icon name="add"></ion-icon>
            </button>
        </ion-buttons>
        <ion-buttons end *ngIf="isSelection" @easeInOut>
            <button ion-button icon-only (tap)="removeRobots(); content.resize();">
                <ion-icon name="trash"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
    <ion-toolbar color="accent" *ngIf="showSearchBar">
        <ion-searchbar showCancelButton="true" animated="true" [(ngModel)]="searchTerm" [formControl]="searchControl" (ionInput)="onSearch()"
            (ionCancel)="searchTerm = ''; showSearchBar = false; content.resize()"></ion-searchbar>
    </ion-toolbar>
</ion-header>

<ion-content #content>
    <div *ngIf="searching" class="spinner-container">
        <ion-spinner></ion-spinner>
    </div>
    <ion-list>
        <ion-item-sliding #item *ngFor="let robot of robots">
            <button ion-item @easeInOut (press)="isSelection = true; actionOnClick(robot);" (tap)="actionOnClick(robot)">
                <ion-avatar *ngIf="!isSelection" @easeInOut item-start>
                    <img src="assets/imgs/nao.png">
                </ion-avatar>
                <ion-checkbox *ngIf="isSelection" @easeInOut checked="isInTable(robot)"></ion-checkbox>
                <ion-label padding-vertical>{{ robot.name }}</ion-label>
                <ion-note item-end>{{ robot.ip }}</ion-note>
            </button>
            <ion-item-options side="left">
                <button padding ion-button color="secondary" (tap)="sendPing(item, robot)">
                    <ion-icon name="code-working"></ion-icon>
                    Ping
                </button>
            </ion-item-options>
            <ion-item-options side="right" (ionSwipe)="delete(item, robot)">
                <button padding ion-button color="dark" (tap)="edit(item, robot)">
                    <ion-icon name="build"></ion-icon>
                    Edit
                </button>
                <button padding ion-button expandable color="danger" (tap)="delete(item, robot)">
                    <ion-icon name="trash"></ion-icon>
                    Delete
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
</ion-content>