<ion-item>
  <ion-icon name="brush" item-start></ion-icon>
  <ion-label>{{ 'THEMES' | translate }}</ion-label>
  <ion-select showWhen="ios" interface="action-sheet" [selectOptions]="selectOptions" okText="{{ 'VERBS.VALIDATE' | translate }}"
    cancelText="{{ 'VERBS.CANCEL' | translate }}" [(ngModel)]="currentThemeClass" (ngModelChange)="changeTheme()">
    <ion-option *ngFor="let theme of themes" [value]="theme.class">{{ 'THEMES_NAME.' + theme.class.split('theme-')[1].toUpperCase() | translate }}</ion-option>
  </ion-select>
  <ion-select showWhen="android,windows" interface="alert" [selectOptions]="selectOptions" okText="{{ 'VERBS.VALIDATE' | translate }}"
    cancelText="{{ 'VERBS.CANCEL' | translate }}" [(ngModel)]="currentThemeClass" (ngModelChange)="changeTheme()">
    <ion-option *ngFor="let theme of themes" [value]="theme.class">{{ 'THEMES_NAME.' + theme.class.split('theme-')[1].toUpperCase() | translate }}</ion-option>
  </ion-select>
</ion-item>
