<ion-item>
  <ion-icon name="heart" item-start></ion-icon>
  <ion-label>{{ 'MODE' | translate }}</ion-label>
  <ion-select *ngIf="isIOS" interface="action-sheet" [selectOptions]="selectOptions" okText="{{ 'OK' | translate }}" cancelText="{{ 'VERBS.CANCEL' | translate }}"
    [(ngModel)]="currentState" (ngModelChange)="alAutonomousLife.setState(convertState(currentState))">
    <ion-option *ngFor="let state of statesToSelect" [value]="state">{{ state }}</ion-option>
  </ion-select>
  <ion-select *ngIf="!isIOS" interface="alert" [selectOptions]="selectOptions" okText="{{ 'OK' | translate }}" cancelText="{{ 'VERBS.CANCEL' | translate }}"
    [(ngModel)]="currentState" (ngModelChange)="alAutonomousLife.setState(convertState(currentState))">
    <ion-option *ngFor="let state of statesToSelect" [value]="state">{{ state }}</ion-option>
  </ion-select>
</ion-item>
